---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(search=sennheiser)?apiKey=j5wxd5nd98bc2uaenngmvmzj&format=json&page=1&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 165,
          "currentPage": 1,
          "totalPages": 11,
          "queryTime": "0.004",
          "totalTime": "0.135",
          "partial": false,
          "canonicalUrl": "/v1/products(search=\"sennheiser\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=j5wxd5nd98bc2uaenngmvmzj",
          "products": [
            {
              "sku": 4763330,
              "name": "Galaxy Audio - Headset Microphone - Beige",
              "customerReviewAverage": null,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Crafted for most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "salePrice": 199.99,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_sa.jpg"
            },
            {
              "sku": 4763305,
              "name": "Galaxy Audio - Headset Microphone - Black",
              "customerReviewAverage": null,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Compatible with most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "salePrice": 199.99,
              "image": "h[...]
